<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producto</title>
    <link rel="stylesheet" href="/css/style.css">

<h1 class="title_index">EL MERCADER DE VENECIA</h1>

<div class="category-filters">
    {{#each categories}}
        <a href="/%60/category/{{this}}%60" class="category-button">{{this}}</a>
    {{/each}}
</div>
<h1 style="justify-content: center;text-align:center;font-size:20px">{{this.category}}</h1>
      <hr>
<div class="cardproduct_container">
   
    {{#each arrayProductos}}
    <div class="product_card">
        <h2 class="product_card_title">{{this.title}}</h2>
        <p class="product_card_p">Precio: ${{this.price}}</p>
         <a href="/%60/product/{{this._id}}%60" class="detail-button" id="detail-button">Detalles</a> 
        <button class="bttn_newproduct">Agregar al carrito</button>
    </div>
    {{/each}}
    
    </div>
      <hr>
    <div class="paginater">
    {{#if hasPrevPage}}
    <a href="/category/{{category}}?page={{prevPage}}" class="detail-button">Anterior</a>
    {{/if}}
    <p style="font-weight: bolder;">
        Pagina {{currentPage}} de {{totalPages}}
    </p>
    {{#if hasNextPage}}
    <a href="/%60/category/{{category}}%60?page={{nextPage}}" class="detail-button">Siguiente</a>
    {{/if}}
   
    </div>
    