
    
    <h1 class="title_index">EL MERCADER DE VENECIA</h1>

    <h2>¡Bienvenido, {{firstName}} {{lastName}}!</h2>
    <form action="/api/sessions/logout" method="POST">
    <button type="submit"> Logout </button>


<div class="category-filters">
    {{#each categories}}
        <a href="/%60/category/{{this}}%60" class="category-button">{{this}}</a>
    {{/each}}
</div>
      <hr>
<div class="cardproduct_container">
   
    {{#each arrayProductos}}
    <div class="product_card">
        <h2 class="product_card_title">{{this.title}}</h2>
        <p class="product_card_p">Precio: ${{this.price}}</p>
         <a href=`/product/{{this._id}}` class="detail-button" id="detail-button">Detalles</a> 
        <button class="bttn_newproduct">Agregar al carrito</button>
    </div>
    {{/each}}
    
    </div>
      <hr>
    <div class="paginater">
    {{#if hasPrevPage}}
    <a href="/?page={{prevPage}}"class="detail-button">Anterior</a>
    {{/if}}
    <p style="font-weight: bolder;">
        Pagina {{currentPage}} de {{totalPages}}
    </p>
    {{#if hasNextPage}}
    <a href="/?page={{nextPage}}"class="detail-button">Siguiente</a>
    {{/if}}
   
    </div>
    

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>
<script src="js/main.js"></script>