 
 <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producto</title>
    <link rel="stylesheet" href="/css/style.css">
 <h1 class="title_index">EL MERCADER DE VENECIA</h1>


<div class="cardproduct_container2">
    <div class="product_card2">
        <h2 class="product_card_title">{{producto.title}}</h2>
           <p class="product_card_p">Codigo: {{producto.code}}</p>
              <p class="product_card_p">Descripcion: {{producto.description}}</p>
                 <p class="product_card_p">Categoria: {{producto.category}}</p>
        <p class="product_card_p">Precio: ${{producto.price}}</p>
           <p class="product_card_p">Stock:{{producto.stock}}</p>
        <button class="bttn_newproduct">Agregar al carrito</button>
    </div>
    <div>
<h3>PRODUCTOS RELACIONADOS</h3>

<div class="carousel">
    <button class="carousel-button prev" id="prevBtn">&lt;</button>
    <div class="carousel-inner">
        {{#each productosRelacionados}}
            <div class="carousel-item">
                <div class="product_card2">
                    <h2 class="product_card_title">{{this.title}}</h2>
                    <p class="product_card_p">Codigo: {{this.code}}</p>
                    <p class="product_card_p">Precio: ${{this.price}}</p>
                    <a href="/%60/product/{{this._id}}%60" class="bttn_newproduct">Ver producto</a>
                </div>
            </div>
        {{/each}}
    </div>
    <button class="carousel-button next" id="nextBtn">&gt;</button>
</div>

<script src="/js/main.js"></script>